
html,body,div,p,span,i,input,button,textarea,em,h1,h2,h3,h4,h5,h6,a,form,dl,dt,dd,img {
	margin: 0;
	padding: 0;
}

a { 
	text-decoration:none;
	color: #151515; 
}

input,textarea,button{
	outline: none;
}

li{
	list-style-type: none;
}


/* 按钮呈手指状态 */
input[type=button], input[type=submit], input[type=file], button { 
	cursor: pointer; 
	-webkit-appearance: none; 
}

/*去除IOS下 => input, select默认样式*/
input, select {
	-webkit-appearance:none; 
	background: none;
	border: none;
	outline: none;
}

/*清除浮动*/	
.clearfix:before{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
}
.clearfix:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfix{zoom:1}  /*是在处理兼容性问题*/

/*省略号单行*/
.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*省略号2行  */
.apostrophe{
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*透明度*/
.publicOpacity {
	filter:alpha(opacity=0);          
	-moz-opacity:0;          
	-khtml-opacity: 0;          
	opacity: 0; 
}
/*垂直居中*/
.publicDrooping {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
}

/* 不定宽高垂直居中 */
.publicVetically{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%,-50%);
}

.height-88 {
    width: 100%;
    height: 88px;
}





































 